*{
    padding: 0;
    margin: auto;
}
.herd{
    height: 60px;
    display: flex;
    justify-content: center;
}
.herd > ul li{
    float: left;
    list-style-type: none;
}
.herd > ul li{
    margin-left: 50px;
    font-size: 25px;
}
.a{
    color: white;
}
a:hover{
    color: cornflowerblue;
}
.herd-a{
    background-color: red;
    border-radius: 6px;
    width: 75px;
    text-align: center;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    margin-left: 450px;
    color: red;
}
.body{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.body > ul li{
    list-style-type: none;
    width: 200px;
    height: 300px;
    float: left;
    margin-left: 25px;
}
.body-li > img{
    width: 180px;
    height: 180px;
}
.body-li > .span{
    color: red;
    font-size: 10px;
    text-decoration:line-through;
    
}
.body-li > p{
    margin-top: 5px;
}
.body-li > span{
    color: red;
    font-size: 20px;
    margin-top: 5px;
}