*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    width: 100%;
    height: 160px;
    background: url(../image/banner.PNG)no-repeat center center/cover;
}
i{
    margin-right: 5px;
}
.navbar a{
    font-size: 15px;
}
.navbar{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#left-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
#middle-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
#header-channle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    padding: 20px;
}
.left-channle{
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.left-channle .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.middle-channle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 20px;
}
.middle-channle .top,
.middle-channle .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.middle-channle .top a,
.middle-channle .bottom a{
    width: 70px;
    height: 28px;
    background: #f6f6f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.right-channle{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #ccc;
    flex-direction: column;
}
.right-channle .top,
.right-channle .bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
#element{
    display: flex;
    width: 95%; 
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}
#banner{
    width: 38%;
    height: 100%;
    background: url(../image/banner.PNG)no-repeat center center/cover;
}
.content{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}
.content .item{
    width: 248px;
    height: 212.5px;
    background: url(../image/banner.PNG)no-repeat center center/cover;
}
